### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
school_count = len(school_data_complete["school_name"].unique())
school_budget = school_data["budget"].sum()
school_total_students = school_data_complete["student_name"].count()

In [5]:
avarage_math = school_data_complete["math_score"].mean()
avarage_reading = school_data_complete["reading_score"].mean()
passing_math = school_data_complete["student_name"].loc[school_data_complete["math_score"] > 70].count()

In [6]:
percentage_math = passing_math/school_total_students * 100
passing_reading = school_data_complete["student_name"].loc[school_data_complete["reading_score"] > 70].count()
percentage_reading = passing_reading/school_total_students * 100

In [7]:
passing_reading_math = school_data_complete["student_name"].loc[(school_data_complete["math_score"] > 70) & (school_data_complete["reading_score"] > 70)].count()

In [8]:
percentage_reading_math = passing_reading_math/school_total_students * 100
percentage_reading_math

60.801633903497574

In [9]:
summarytable = pd.DataFrame([{"totalschools":school_count,
                            "totalstudent":school_total_students,
                            "schoolbudget":school_budget,
                            "avaragemath":avarage_math,
                            "avaragereading":avarage_reading,
                            "percentagemath":percentage_math,
                            "percentagereading":percentage_reading,
                            "percentagereadingmath":percentage_reading_math}])

In [10]:
summarytable.head()

,totalschools,totalstudent,schoolbudget,avaragemath,avaragereading,percentagemath,percentagereading,percentagereadingmath
0,15,39170,24649428,78.985371,81.87784,72.392137,82.971662,60.801634

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [11]:
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
school_name = school_data_complete["school_name"].unique()

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type

In [26]:
import pandas as pd
# d = {'col1': [1, 2], 'col2': [3, 4]}
# df = pd.DataFrame(data=d)
# df
d = {
     'number_schools': [school_count], 
    'number_students': [school_total_students],
     'total_budget':[school_budget],
    'average_math_score':[avarage_math],
     'average_reading_score':[avarage_reading],
     'passing_math':[passing_math],
     'passing_reading':[passing_reading],
     'passing_math_reading':[percentage_reading_math]
}
df = pd.DataFrame(data=d)
df

,number_schools,number_students,total_budget,average_math_score,average_reading_score,passing_math,passing_reading,passing_math_reading
0,15,39170,24649428,78.985371,81.87784,28356,32500,60.801634

import pandas as pd
# d = {'col1': [1, 2], 'col2': [3, 4]}
# df = pd.DataFrame(data=d)
# df
d = {
     'number_schools': [school_count], 
    'number_students': [school_total_students],
     'total_budget':[school_budget],
    'average_math_score':[avarage_math],
     'average_reading_score':[],
     'passing_math':[passing_math],
     'passing_reading':[passing_reading],
     'passing_math_reading':[percentage_reading_math]
}
df = pd.DataFrame(data=d)
df

In [22]:
#%notebook "/Users/reneegillmore/documents/uofa-phx-data-pt-06-2020-u-c/04-Pandas/Homework/instructions/PyCitySchools/Homework713.ipynb"